// DEFAULT (LIGHT)
:root {
	--primary: #0079ff;
	--primary-active: #60abff;
	--secondary: #2b3442;
	--secondary-active: #2b3442;
	--logo: #2b3442;
	--text: #4b6a9b;
	--background: #f6f8ff;
	--content-background: #fefefe;
	--shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);
}
// DARK THEME
.dark {
	--secondary-active: #90a4d4;
	--logo: #ffffff;
	--text: #ffffff;
	--background: #141d2f;
	--content-background: #1e2a47;
	--shadow: 0;
}